p{
    background-color: aqua;
    color: blueviolet;
    display:inline-flex;
    justify-content: space-between;
    margin-left: 500px;
    width: 30px;
    cursor: pointer;
    
}
.heading-1{color: yellowgreen;
    background-color: aquamarine;  
  width: 200px;
  height: 40px;
  display:flex;
  justify-content: center;
  margin-left: 500px;
  border-radius: 23px;
  cursor: pointer;

}
.head-2{
    color: blue;
    background-color: aquamarine;
    width: 200px;
    height: 60px;
   margin-left: 500px;       
    display:flex;
   justify-content: space-between;
   border-radius: 15px;

}      
    body{
        background-color: black;
        color: white;
        

    }